@import './custom-fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: #cb24ff;
  border-radius: 0;
}

html::-webkit-scrollbar-track {
  background-color: #000;
}

::selection {
  background: #3D8BFF;
  text-shadow: none;
  color: #000;
}

.rotate-x {
  transform: rotateX(180deg);
}

.blur-effect {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}